@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif; }

.formulariocontacto input[type=text], .formulariocontacto input[type=number], .formulariocontacto input[type=submit], .formulariocontacto input[type=email] {
  border-radius: 5px;
  background-color: beige;
  text-align: center; }

/*GRILLA DIVISORIA*/
.grilla {
  display: grid;
  grid-template-rows: 15vh 6vh 70vh 9vh;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

/* HEADER FOOTER MAIN */
.header {
  grid-area: header;
  background-color: #cad1de;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start; }

/*MENU CAMBIOS BOOTSTRAP*/
.navbar {
  --bs-navbar-brand-font-size: 1rem;
  grid-area: nav;
  --bs-navbar-nav-link-padding-x: 4rem;
  --bs-navbar-brand-margin-end: 4rem;
  --bs-navbar-color:$colorPrincipal;
  /* CAMBIO COLOR DEL ICONO DEL MENU AL HACER HOVER */
  --bs-navbar-hover-color: rgb(0 0 0 / 70%);
  /* CAMBIO COLOR HOVER INICIO */
  --bs-navbar-brand-hover-color: rgb(0 0 0 / 70%);
  /* BORDE REDONDO ICONO MENU */
  --bs-navbar-toggler-border-radius: 0.9rem;
  --bs-navbar-toggler-focus-width: 0.1rem; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 6rem;
  background-color: white; }

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  z-index: 1; }

.nav-link {
  color: black; }
  .nav-link:hover, .nav-link:visited, .nav-link:active {
    transition: 0.6s;
    background-color: rgba(202, 209, 222, 0.3); }

.navbar-brand:active, .navbar-brand:visited {
  transition: 1s;
  transform: scale(1.6); }

.dropdown-toggle::after {
  border-top: 0.3em solid #cad1de; }

.footer {
  grid-area: footer;
  background-color: #cad1de;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start; }

/* REDES DEL FOOTER */
.redes {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 10vw; }
  .redes li a {
    text-decoration: none; }
    .redes li a i:hover {
      transition: 0.6;
      transform: scale(2); }

/*TITULOS*/
h1 {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 2px white;
  margin-left: 10px; }

.titulo {
  color: brown;
  margin-left: 15px; }

.mainescuela {
  background-color: #e1bc8d99;
  background-image: url("../img/fondoescuelaOpacidad.jpg");
  background-attachment: fixed;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start; }

.contenedormainescuela {
  overflow: auto;
  background-color: #d1a38d42;
  margin-left: 0.5rem; }

.contenedorvideoescuela {
  height: 50%; }

.mainquienessomos {
  grid-area: main;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: normal;
  justify-content: normal;
  background-image: url("../img/fondolineas.JPG");
  background-size: inherit;
  background-repeat: inherit;
  background-attachment: inherit; }

.contenedormain {
  margin-top: 10%;
  padding-left: 1%;
  margin-left: 1%;
  background-color: rgba(202, 209, 222, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 800px; }

.titulomain {
  margin-left: 1rem;
  margin-top: 1.5rem;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 2px 2px 2px #cad1de; }

.textomain {
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  font-weight: bolder;
  font-style: italic; }

.contenedorlogo {
  padding-left: 6rem;
  margin-bottom: 15%; }
  .contenedorlogo img {
    max-width: 225px; }

.main {
  grid-area: main;
  display: flex;
  background-image: url("../img/fondo1.jpg"); }

.contenedorimagen {
  width: 35%;
  height: 100%;
  margin-left: 10%; }

.imagenindex {
  height: 100%;
  width: 100%; }

.contenedortexto {
  width: 65%;
  height: 100%;
  padding: 10rem 0 0 5rem; }

.texto {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  max-height: 200px;
  max-width: 500px;
  overflow: auto;
  color: white;
  background-color: rgba(31, 30, 28, 0.2); }

.maincontacto {
  grid-area: main;
  overflow: auto;
  background-image: url("../img/fondoOpacidad.JPG"); }

.formulariocontacto {
  margin-left: 1.5%;
  background-color: rgba(225, 188, 141, 0.4);
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center; }
  .formulariocontacto input[type=text], .formulariocontacto input[type=number], .formulariocontacto input[type=submit] {
    width: 15vw; }
  .formulariocontacto input[type=email] {
    width: 20vw; }
  .formulariocontacto input[type=submit]:hover {
    background-color: #e9e9cf;
    transition: .5s;
    transform: scale(1.2); }
  .formulariocontacto select {
    max-width: 600px; }
  .formulariocontacto textarea {
    max-width: 600px; }

.maingaleria {
  grid-area: main;
  background-image: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: normal;
  justify-content: flex-start; }

.contenedorgaleria {
  max-width: 100%;
  height: 100%;
  padding-left: 30%;
  padding-right: 30%;
  background-color: rgba(102, 27, 8, 0.19);
  background-attachment: fixed; }

/*CAMBIOS CAROUSEL GALERIA*/
.carousel-inner {
  background-color: #cad1de78; }

.carousel-item {
  transition: transform .8s ease-in-out; }
  .carousel-item img {
    max-height: 60vh; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: grey;
  border-radius: 50%; }

.carousel-control-next, .carousel-control-prev {
  width: 20%; }

/*ANIMACIONES Y AUDIO*/
/*POSICION DEL AUDIO*/
.audio {
  width: 15vw;
  justify-content: left; }

/*ANIMACION DEL LOGO*/
.logo {
  border-radius: 50%;
  max-height: 85px;
  animation: logogiro 5s infinite; }

@keyframes logogiro {
  0% {
    transform: rotate(0deg);
    transition: .5s; }
  100% {
    transform: rotate(50deg);
    transition: .5s; } }

/*ANIMACION DEL TEXTO INDEX*/
.texto {
  animation-name: textoindex;
  animation-duration: 5s;
  animation-iteration-count: 5s; }

@keyframes textoindex {
  0% {
    transition: .5s;
    transform: scale(1.1); }
  25% {
    transition: .5s;
    transform: scale(1.2); }
  50% {
    transition: .5s;
    transform: scale(1.3); }
  100% {
    transition: .5s;
    transform: scale(1); } }

/* MEDIAS QUERIES DISPOSITIVO MOBILE */
@media (max-width: 375px) {
  /* GRILLA GENERAL VERSION MOBILE */
  .grilla {
    grid-template-rows: 15vh 4vh 71vh 10vh; }
  /* LOGO HEADER VERSION MOBILE */
  .logo {
    height: 70px; }
  /* INDEX VERSION MOBILE */
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .contenedortexto {
    max-width: 80%; }
  .texto {
    font-size: 12px; }
  .contenedorimagen {
    width: 40%;
    height: 50%;
    margin-left: 0; }
  .imagenindex {
    margin-top: 15%; }
  /* FOOTER/ AUDIO DEL FOOTER DESAPARECE EN VERSION MOBILE */
  .audio {
    display: none; }
  .redes {
    margin-left: 14vw; }
  /* MENU */
  .itemmenu {
    font-size: 12px; }
  h1 {
    font-size: 15px; }
  /* QUIENES SOMOS VERSION MOBILE */
  .mainquienessomos {
    display: flex;
    flex-direction: row-reverse; }
  .contenedormain {
    padding-left: 0%;
    margin-left: 0%;
    margin-right: 10%;
    width: 100%;
    background-color: rgba(225, 188, 141, 0.7); }
  .titulomain {
    margin-top: .5rem;
    font-size: 12px; }
  .textomain {
    font-size: 9px; }
  .contenedorlogo {
    width: 100%;
    padding-left: 0; }
    .contenedorlogo img {
      max-width: 140px; }
  /* ESCUELA VERSION MOBILE */
  .contenedorvideoescuela {
    height: 40%; }
  .contenedormainescuela {
    height: 60%; }
  /* GALERIA VERSION MOBILE */
  .grillagaleria {
    padding-top: 10%;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(4, auto); }
  .maingaleria {
    background-position: 0% 3%; } }
