$fondoIndex:url('../img/fondo1.jpg');
$fondoGaleria:url('../img/fondolineas.JPG');
$imagenIndex:url('../img/ilustracion2.jpg');
$logoOhana:url('../img/logo.jpg');
$fondoContacto:url('../img/fondo.JPG');
$fondoEscuela:url('../img/fondoescuela.jpg');
$fondoQuienesSomos:url('../img/fondoilustracion.JPG');
$imagenQuienesSomos:url('../img/escuela.jpg');
