$fondoIndex:url('../img/fondo1.jpg');
$fondoGaleria:url('../img/fondolineas.JPG');
$imagenIndex:url('../img/ilustracion2.jpg');
$logoOhana:url('../img/logo.jpg');
$fondoContacto:url('../img/fondoOpacidad.JPG');
$fondoEscuela:url('../img/fondoescuelaOpacidad.jpg');
$fondoQuienesSomos:url('../img/fondolineas.JPG');
$imagenQuienesSomos:url('../img/escuela.jpg');
