.maincontacto {

    grid-area: main;
    overflow: auto;
    background-image:$fondoContacto;

}

.formulariocontacto {
    margin-left: 1.5%;
    background-color: rgba(225, 188, 141, 0.4);
    margin-top: 1%;
    @include displayFlex(column,stretch,center,center);
    input {
        &[type=text], &[type=number], &[type=submit] {
          width: 15vw;
          @extend %estiloInputsContacto;
        }
        &[type=email]{
            width: 20vw;
            @extend %estiloInputsContacto;
        }
        &[type=submit]:hover{
            background-color: rgb(233, 233, 207);
            transition: .5s;
            transform: scale(1.2);
        }
      }
      select{
        max-width: 600px;
      }
      textarea{
        max-width: 600px;
      }
}

