.mainescuela {
    background-color: #e1bc8d99;
    background-image:$fondoEscuela;
    background-attachment: fixed;
    grid-area: main;
    @include displayFlex(column,center,center,flex-start);
}

.contenedormainescuela {
    overflow: auto;
    //height: 50%;
    background-color: #d1a38d42;
    margin-left: 0.5rem;
}

.contenedorvideoescuela {
    height: 50%;
}

