.maingaleria {
    grid-area: main;
    background-image: none;
    @include displayFlex(column,stretch,normal,flex-start);
}
.contenedorgaleria{
    max-width: 100%;
    height:100%;
    padding-left: 30%;
    padding-right: 30%;
    //background-image: url(../img/fondolineas.JPG);
    background-color:rgba(102,27,8,0.19);
    background-attachment: fixed;
}

/*CAMBIOS CAROUSEL GALERIA*/
.carousel-inner{
    background-color:#cad1de78 ;
}
.carousel-item{
    transition: transform .8s ease-in-out;
    img{
        max-height: 60vh;
    }
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: grey;
    border-radius: 50%;
}
.carousel-control-next, .carousel-control-prev {
width: 20%;
}
