/* MEDIAS QUERIES DISPOSITIVO MOBILE */
@media(max-width:414px) {

    /* GRILLA GENERAL VERSION MOBILE */
    .grilla {
        grid-template-rows: 15vh 4vh 71vh 10vh;
    }

    /* LOGO HEADER VERSION MOBILE */
    .logo {
        height: 70px;
    }

    /* INDEX VERSION MOBILE */
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contenedortexto {
        max-width: 80%;
        padding: 2rem 0 0 0rem;
    }

    .texto {
        font-size: 12px;
    }

    .contenedorimagen {
        width: 40%;
        height: 50%;
        margin-left: 0;
    }

    .imagenindex {
        margin-top: 15%;
    }

    /* FOOTER/ AUDIO DEL FOOTER DESAPARECE EN VERSION MOBILE */
    .audio {
        display: none;
    }
    .redes {
        margin-left:15vw;
        padding:0;
    }

    /* MENU */
    .itemmenu {
        font-size: 12px;
    }

    h1 {
        font-size: 15px;
    }
    //TITULO MAIN ESCUELA Y GALERIA
    
    .titulomain{
        margin-top:2rem;
        font-size:15px;
    }

    /* QUIENES SOMOS VERSION MOBILE */
    .mainquienessomos {
        flex-direction: column-reverse;
        background-attachment: fixed
    }

    .contenedormain {
        /* padding-left: 0%; */
        margin-left: 0%;
        /* margin-right: 10%; */
        //margin-top: 2rem;
        /* width: 100%; */
        background-color: white;
        border-radius: inherit;
    }

    .titulomainquienessomos {    
        margin-top: 0.5rem;
        font-size: 15px;
        text-align: center;
        margin-left: 0;
    }

    .textomain {
        font-size: 10px;
        text-align: center;
    }

    .contenedorlogo {
        //width: 100%;
        //padding-left: 0;
        img{
            max-width: 140px;
            //margin-left:25%;
            
        }
        &:hover{
            transform:scale(1.2);
        }
    }

    /* ESCUELA VERSION MOBILE */
    .contenedorvideoescuela {
        height: 40%;
    }

    /* GALERIA VERSION MOBILE */
    #carouselExampleControlsNoTouching{
        margin-top:20vh;
    }
    .carousel-item{
        //transition: transform .8s ease-in-out;
        img{
            height:30vh;
            width:100%;
        }
    }

    //CONTACTO VERSION MOBILE
    .formulariocontacto{
        //min-width: 100vw;
        margin-top: 15vh;
    
    input {
        &[type=email]{
          min-width: 55vw;
          height:2%;
          font-size:smaller;
        }
        &[type=text]{
          min-width: 20vw;
          height:2%;
          font-size:smaller;
        }
        &[type=number]{
          min-width:15vw;
          height:2%;
          font-size:smaller;
        }
        &[type=submit]{
            height:2%;
            font-size:smaller;
        }
    }
        textarea{
            max-height: 150px;
            font-size:smaller;
          }
          select{
            margin-left:20px;
            min-width: 10vw;
            height:2%;
            font-size:smaller;
         }
         span{
            font-size: smaller;
         }

        }    
}