.mainquienessomos {
    grid-area: main;
    @include displayFlex(row,center,center,space-evenly);
    background-image:$fondoQuienesSomos;
    background-size: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
}

.contenedormain {
    padding-left: 1.5%;
    margin-left: 1%;
    background-color:$colorPrincipalal40;
    @include displayFlex(column,center,center,center);
    max-width: 800px;
    border-radius:50px;    
    //max-height: 200px;
}

.titulomainquienessomos {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #cad1de;
}

.contenedorlogo {
    img{
        max-width: 225px;
    }
    &:hover{
        transition:0.6;
        transform:scale(1.3);
    }
}

